<button class="button is-success" (click)="openModal()">Export</button>
<div class="modal" [class.is-active]="modalOpen">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">

      <h1 class="title">{{'Export Locale Data'|translate}}</h1>
      <br>

      <div *ngIf="errors && errors.length > 0">
        <div class="message is-danger" *ngFor="let err of errors">
          <div class="message-body">
            {{err}}
          </div>
        </div>
      </div>

      <form (ngSubmit)="submit()" #exportLocaleForm="ngForm">
        <div class="control">
          <span class="select">
              <select name="format" [(ngModel)]="selectedFormat" required>
                  <option value="" disabled selected>{{'Select an export format'|translate}}</option>
                  <option *ngFor="let format of formats" [ngValue]="format">{{format.name}}</option>
              </select>
          </span>
        </div>
        <div class="control">
          <button type="button" class="button" (click)="closeModal()" [disabled]="loading">{{'Cancel'|translate}}</button>
          <button type="submit" class="button is-success" [class.is-loading]="loading" [disabled]="!exportLocaleForm.form.valid || loading">{{'Export'|translate}}</button>
        </div>
      </form>

    </div>
  </div>
</div>
