<section class="login-wrap">

  <h1>Register</h1>

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <div class="alert-item" *ngFor="let err of errors">
      <span class="alert-text">{{err}}</span>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(f.value.email, f.value.password)" #f="ngForm">
    <section class="form-block">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" size="35" required ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" size="35" required ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </section>
  </form>

  <a class="btn btn-link" (click)="navigateToLogin()">Already registered? Sign in here</a>
</section>