<button class="button is-success" (click)="openModal()">Add a new member</button>
<div class="modal" [class.is-active]="modalOpen">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
        <div class="box">

            <h1 class="title">{{'Add a new team member'|translate}}</h1>
            <br>

            <div *ngIf="errors && errors.length > 0">
                <div class="message is-danger" *ngFor="let err of errors">
                    <div class="message-body">
                        {{err}}
                    </div>
                </div>
            </div>

            <p class="control">Type in the user's email address below. The user <em>must already be registered</em> in the platform.</p>

            <form (ngSubmit)="submit()" #addUserForm="ngForm">
                <div class="control">
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input type="email" class="input" name="email" placeholder="The user's email" [disabled]="loading" [(ngModel)]="email" autofocus
                                required autocomplete="off">
                        </p>
                        <span class="select">
                            <select name="role" [(ngModel)]="selectedRole" required>
                                <option value="" disabled selected>{{'Select a role'|translate}}</option>
                                <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <button type="button" class="button" (click)="closeModal()" [disabled]="loading">{{'Cancel'|translate}}</button>
                    <button type="submit" class="button is-success" [class.is-loading]="loading" [disabled]="!addUserForm.form.valid || loading">{{'Add'|translate}}</button>
                </div>
            </form>

        </div>
    </div>
</div>
