<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title is-5">{{'Project Strings'|translate}}</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p>
                    <strong>{{project?.keys?.length}}</strong> Strings
                </p>
            </div>
            <div class="level-item">
                <create-project-key *ngIf="editable" [project]="project" [submit]="addKey" [pending]="addKeyPending"></create-project-key>
            </div>
        </div>
    </nav>

    <div [ngSwitch]="project.keys && project.keys.length > 0">
        <div *ngSwitchCase="true">

            <table class="table is-bordered is-striped is-narrow">
                <tbody>
                    <tr *ngFor="let key of project.keys; let i=index; trackBy: trackIndex">
                        <td>

                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p>{{key}}</p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <div *ngIf="editable">
                                            <edit-project-key [key]="key" [submit]="updateKey"></edit-project-key>
                                            <delete-project-key [key]="key" [pending]="deleteKeyPending" [submit]="deleteKey"></delete-project-key>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div *ngSwitchDefault>

            <div class="notification is-warning">
                {{'No Project Strings. Add one to get started!'|translate}}
            </div>

        </div>
    </div>

</div>
