<section class="login-wrap">

  <h1>Login</h1>

  <div *ngIf="errors && errors.length > 0">
    <div *ngFor="let err of errors">
      <span>{{err}}</span>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(f.value.email, f.value.password)" #f="ngForm">
    <section>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required ngModel>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required ngModel>
      </div>
      <button type="submit">Submit</button>
    </section>
  </form>

  <a (click)="navigateToRegister()">Not registered yet? Signup here</a>
</section>