<table class="table is-bordered is-striped is-narrow">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let pair of locale.pairs | objtopairs">
            <td>{{pair.key}}</td>
            <td>
                <p [hidden]="editable">{{pair.value}}</p>
                <editable-textfield [pair]="pair" [loading]="updatePending" [hidden]="!editable" [commit]="commitPair"></editable-textfield>
            </td>
        </tr>
    </tbody>
</table>