<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Project Keys</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p class="subtitle is-5">
                    <strong>{{project?.keys?.length}}</strong> keys
                </p>
            </div>
            <div class="level-item">
                <create-project-key [project]="project" [submit]="addKey" [pending]="addKeyPending"></create-project-key>
            </div>
        </div>
    </nav>

    <table class="table is-bordered is-striped is-narrow">
        <tbody>
            <tr *ngFor="let key of project.keys; let i=index; trackBy: trackIndex">
                <td>{{key}}</td>
                <td>
                    <edit-project-key [key]="key" [submit]="updateKey"></edit-project-key>
                    <delete-project-key [key]="key" [pending]="deleteKeyPending" [submit]="deleteKey"></delete-project-key>
                </td>
            </tr>
        </tbody>
    </table>

</div>