localhost:80

root /app/public

cors /api {
    origin            *
    methods           POST,PUT
    allow_credentials false
    max_age           3600
    allowed_headers   X-Custom-Header,X-Foobar
    exposed_headers   X-Something-Special,SomethingElse
}

header /api {
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    -Server
}

proxy /api localhost:8080 {
    except /app/public
}

ratelimit 2 3 {
    /api
}

gzip