<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <article class="media" *ngFor="let user of users">
        <figure class="media-left">
            <span class="icon is-medium">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.name}}</strong> <small>{{user.email}}</small>
                    <br> {{user.role}}
                </p>
            </div>
        </div>
        <figure class="media-right">
            <button class="button is-outlined">
                Edit
            </button>
        </figure>
    </article>

</div>