.media {
    background: white;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 #D6D6D6;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.media-left {
    margin-right: 20px;
}

.content .title {
    margin-bottom: 7px;
} 