.flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.content {
    flex-grow: 1;
    flex-basis: 569px;
}

@media screen and (min-width: 769px) {
    .content {
        margin-left: 200px;
    }
}