<button class="button is-danger" (click)="openModal()">Delete</button>
<div class="modal" [class.is-active]="modalOpen">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
        <div class="box">

            <h1 class="title">{{'Delete Locale?'|translate}}</h1>
            <br>
            <div class="notification is-warning">
                {{'This action cannot be undone.'|translate}}
            </div>

            <form>
                <div *ngIf="errors && errors.length > 0">
                    <div class="message is-danger" *ngFor="let err of errors">
                        <div class="message-body">
                            {{err}}
                        </div>
                    </div>
                </div>
                <div class="control">
                    <label class="label" for="ident">{{"Type the Locale's ident to confirm this action:"|translate}}</label>
                    <input type="text" class="input" name="ident" placeholder="{{locale?.ident}}" [disabled]="pending" [(ngModel)]="repeatIdent"
                        autofocus required autocomplete="off">
                </div>
                <div class="control">
                    <button type="button" class="button" (click)="closeModal()" [disabled]="pending">{{'Cancel'|translate}}</button>
                    <button type="submit" (click)="confirm()" class="button is-danger" [class.is-loading]="pending" [disabled]="!valid() || pending">{{'Delete'|translate}}</button>
                </div>
            </form>

        </div>
    </div>
</div>
