<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading && _app">

    <div class="box">
        <form class="control">
            <label class="label">Application Name</label>
            <p class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="The application's name" [(ngModel)]="_app.name" name="appName">
            </p>
            <p class="control">
                <button class="button is-primary">Save changes</button>
                <button (click)="cancelChanges()" class="button">Cancel</button>
            </p>
        </form>
        <label class="label">Client ID</label>
        <p class="control has-icon">
            {{_app?.clientId}}
        </p>
        <label class="label">Client Secret</label>
        <p class="control has-icon">
            {{_app?.secret}}
        </p>
        <p class="control">
            <button class="button is-warning">Reset secret</button>
            <span class="help is-danger">Only reset the secret if you know what you are doing!</span>
        </p>
    </div>

</div>