.media {
    background: white;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}
.media:hover {
    background-color: #E0E0E0;
    transition:  background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    cursor: pointer;
}
.media:active {
    background: #DADADA;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-left {
    margin-right: 20px;
}

.content .title {
    margin-bottom: 7px;
}