<article class="media center-align" [routerLink]="[client.client_id]" *ngFor="let client of projectClients">
    <figure class="media-left">
        <span class="icon is-medium">
                <i class="fa fa-mobile"></i>
            </span>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="title is-5">{{client.name}}</p>
            <p>Client-ID: {{client.client_id}}</p>
        </div>
    </div>
</article>

<div *ngIf="projectClients && projectClients.length <= 0">
    <div class="notification is-warning">
        {{'No Applications have access to this Project yet.'|translate}}
    </div>
</div>
