<button class="button is-success" (click)="openModal()">Add locale</button>
<div class="modal" [class.is-active]="modalOpen">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
        <div class="box">

            <h1 class="title">Create a new locale for this project</h1>

            <br>

            <div class="message is-danger" *ngIf="errors && errors.length > 0">
                <div *ngFor="let err of errors">
                    <div class="message-body">{{err}}</div>
                </div>
            </div>

            <form (ngSubmit)="createLocale()" #createLocaleForm="ngForm">
                <div class="control">
                    <label class="label" for="name">Ident</label>
                    <input type="text" class="input" name="ident" placeholder="The locale's ident" [disabled]="loading" [(ngModel)]="locale.ident"
                        autofocus required>
                </div>
                <div class="control">
                    <label class="label" for="country">Country</label>
                    <input type="text" class="input" name="country" placeholder="The locale's country" [disabled]="loading" [(ngModel)]="locale.country"
                        required>
                </div>
                <div class="control">
                    <label class="label" for="language">Language</label>
                    <input type="text" class="input" name="language" placeholder="The locale's language" [disabled]="loading" [(ngModel)]="locale.language"
                        required>
                </div>
                <div class="control">
                    <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancel</button>
                    <button type="submit" class="button is-primary" [class.is-loading]="loading" [disabled]="!createLocaleForm.form.valid || loading">Create</button>
                </div>
            </form>

        </div>
    </div>
</div>