.fix-overlay {
    overflow-y: inherit !important;
}

.suggestions{
	border:solid 1px #eee;
	width:100%;
	background: white;
    z-index: 2050;
    height: 120px;
    overflow-y: scroll !important;
}

.suggestions ul{
	padding: 0px;
	margin: 0px;
}

.suggestions ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.suggestions ul li a{
	padding:5px;
	display: block;
	text-decoration: none;
	color:#7E7E7E;
}

.suggestions ul li a:hover{
	background-color: #f1f1f1;
}