<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading && user?.id">

    <section class="section no-background">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="media block">
                    <div class="media-content">
                        <div class="content">

                            <h1 class="title is-5">{{'Your Account'|translate}}</h1>

                            <edit-user-name [user]="user"></edit-user-name>

                            <br>

                            <edit-user-email [user]="user"></edit-user-email>

                            <br>

                            <label class="label">{{'Password'|translate}}</label>
                            <edit-user-password [user]="user"></edit-user-password>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
