<aside class="menu navigation" [class.is-active]="menuActive">
    <div *ngIf="project">
        <p class="menu-label">{{"Project"|translate}}</p>
        <ul class="menu-list">
            <li><a (click)="closeMenu()" [routerLink]="['/projects', project.id, 'keys']" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="is-active">{{"Strings"|translate}}</a></li>
            <li><a (click)="closeMenu()" [routerLink]="['/projects', project.id]" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="is-active">{{"Locales"|translate}}</a></li>
            <div *ngIf="projectSettingsVisible">
                <li><a (click)="closeMenu()" [routerLink]="['/projects', project.id, 'settings']" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="is-active">{{"Settings"|translate}}</a></li>
            </div>
        </ul>
        <div *ngIf="adminSectionVisible">
            <p class="menu-label">{{"Administration"|translate}}</p>
            <ul class="menu-list">
                <li><a (click)="closeMenu()" [routerLink]="['/projects', project.id, 'team']" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="is-active">{{"Project Team"|translate}}</a></li>
            </ul>
        </div>
        <div *ngIf="developerSectionVisible">
            <p class="menu-label">{{"Developer"|translate}}</p>
            <ul class="menu-list">
                <li><a (click)="closeMenu()" [routerLink]="['/projects', project.id, 'api']" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="is-active">{{"API Access"|translate}}</a></li>
            </ul>
        </div>
    </div>
</aside>
<div class="sidenav-overlay" [class.is-active]="menuActive" (click)="closeMenu()"></div>
