<aside class="menu navigation">
    <div *ngIf="project">
        <p class="menu-label">Project</p>
        <ul class="menu-list">
            <li><a [routerLink]="['/projects', project.id, 'keys']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Keys</a></li>
            <li><a [routerLink]="['/projects', project.id]" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Locales</a></li>
        </ul>
        <p class="menu-label">Administration</p>
        <ul class="menu-list">
            <li><a [routerLink]="['/projects', project.id, 'team']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Project Team</a></li>
        </ul>
        <p class="menu-label">Developer</p>
        <ul class="menu-list">
            <li><a [routerLink]="['/projects', project.id, 'api']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">API Access</a></li>
        </ul>
        <p class="menu-label">Settings</p>
        <ul class="menu-list">
            <li><a [routerLink]="['/me']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Account</a></li>
        </ul>
    </div>
    <div *ngIf="!project">
        <p class="menu-label">No project found</p>
    </div>
</aside>