<aside class="menu navigation">
    <p class="menu-label">Project</p>
    <ul class="menu-list">
        <li><a [routerLink]="['/projects', projectId, 'keys']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Keys</a></li>
        <li><a [routerLink]="['/projects', projectId]" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Locales</a></li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li><a [routerLink]="['/projects', projectId, 'contributors']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">Project Team</a></li>
        <li><a [routerLink]="['/projects', projectId, 'api']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">API Access</a></li>
    </ul>
</aside>