body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-wrap {
  width: 440px;
  display: table;
  margin: 0 auto;
}

.spinner.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

textarea[readonly="readonly"], textarea[readonly] {
  border: none;
  background: transparent;
  cursor: default !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}