body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.spinner.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}