<button class="button is-warning" (click)="openModal()">Change Password</button>
<div class="modal" [class.is-active]="modalOpen">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
        <div class="box">

            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">{{'Change Password'|translate}}</h1>
                    </div>
                </div>
            </div>

            <div *ngIf="errors && errors.length > 0">
                <div class="message is-danger" *ngFor="let err of errors">
                    <div class="message-body">
                        {{err}}
                    </div>
                </div>
            </div>

            <form (ngSubmit)="commitChanges()" #editPasswordForm="ngForm">
                <label class="label">{{'Old Password'|translate}}</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Your old password" [(ngModel)]="formData.oldPassword" name="oldPassword"
                        required>
                </p>
                <label class="label">{{'New Password'|translate}}</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Your new password" [(ngModel)]="formData.newPassword" name="newPassword"
                        required>
                </p>
                <label class="label">{{'New Password Confirmation'|translate}}</label>
                <p class="control">
                    <input class="input" type="password" placeholder="Repeat your new password" [(ngModel)]="formData.repeatNewPassword" name="repeatNewPassword"
                        required>
                </p>
                <div class="control">
                    <button type="button" class="button" (click)="closeModal()" [disabled]="loading">{{'Cancel'|translate}}</button>
                    <button type="submit" class="button is-success" [class.is-loading]="loading" [disabled]="!formValid() || loading">{{'Save changes'|translate}}</button>
                </div>
            </form>

        </div>
    </div>
</div>
