<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading && project?.id">

    <section class="section no-background">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="media block">
                    <div class="media-content">
                        <div class="content">

                            <h1 class="title is-5">{{'Project Settings'|translate}}</h1>

                            <edit-project-name [project]="project"></edit-project-name>

                            <br>

                            <delete-project [project]="project" [hidden]="!canDeleteProject"></delete-project>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
