<section class="section register">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="box">

        <h1 class="title">Register</h1>

        <div class="message is-danger" *ngIf="errors && errors.length > 0">
          <div *ngFor="let err of errors">
            <div class="message-body">{{err}}</div>
          </div>
        </div>

        <form (ngSubmit)="onSubmit(f.value.name, f.value.email, f.value.password)" #f="ngForm">
          <div class="control">
            <label class="label">Name</label>
            <input class="input" type="text" name="name" placeholder="Your name" required ngModel autocomplete="off">
          </div>
          <div class="control">
            <label class="label">Email</label>
            <input class="input" type="email" name="email" placeholder="Your email address" required ngModel autocomplete="off">
          </div>
          <div class="control">
            <label class="label">Password</label>
            <input class="input" type="password" name="password" placeholder="Your password" required ngModel autocomplete="off">
          </div>
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">Submit</button>
          </div>
        </form>

        <div class="container">
          <button class="button is-fullwidth is-link is-unselectable" (click)="navigateToLogin()">Already registered? Sign in here</button>
        </div>

      </div>
    </div>
  </div>
</section>