{{define "users/login"}}
{{template "common/header"}}
    
LOGIN USER

<form method="POST" action="/login">
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{template "common/footer"}}
{{end}}