.tile.locale {
    background: #3273dc;
    border-radius: 4px;
    color: white;
    padding: 10px;
}
.tile.locale:hover {
    background: #4080f8;
    cursor: pointer;
}
.tile.locale:active {
    background: #2869d8;
}

p {
    color: white;
}

p strong {
    color: white;
}
