<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child is-info locale" [routerLink]="['locales', locale.ident]" *ngFor="let locale of locales">
                <p class="title"><strong>{{locale.ident}}</strong></p>
                <p class="subtitle">Subtitle</p>
                <p>Last updated: <small>11:09 PM - 1 Jan 2016</small></p>
            </article>
        </div>
    </div>

</div>