<p class="control is-expanded">
    <input class="input" type="text" placeholder="Search locales" (keyup)="onSearch($event)" autocomplete="off">
</p>

<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <article class="media locale center-align" [routerLink]="['locales', locale.ident]" *ngFor="let locale of filterLocales(searchString || '')">
        <figure class="media-left">
            <span class="icon is-medium">
                <i class="flag-icon flag-icon-{{locale.ident.slice(-2).toLowerCase()}}"></i>
            </span>
        </figure>
        <div class="media-content">
            <div class="content">
                <p class="title">{{locale.language}} ({{locale.country}})</p>
                <p>Ident: {{locale.ident}}</p>
            </div>
        </div>
        <div class="media-right bottom-align">
            <div class="content ">
                <p>Last updated: 11:09 PM - 1 Jan 2016</p>
            </div>
        </div>
    </article>

</div>