.appbar {
    top: 0;
    position: fixed;
    padding: 0 20px;
    width: 100% !important;
    height: 60px !important;
    background-color: #00D1B2;
    display: flex;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    z-index: 150;
}

.appbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle.hidden {
    visibility: hidden;
}

.appbar-fill-center {
    flex: 1;
}

.appbar-items-right {
    display: flex;
    flex-flow: row;
    flex-basis: 180px;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-flow: row;
}

a.appbar-link {
    color: white;
}

a.appbar-link.is-active {
    border-top: solid transparent;
    border-bottom: solid white;
}

.nav-toggle {
    background-color: #00D1B2;
}

.nav-toggle span {
    background: white;
    height: 2px;
}

.title {
    color: white;
    font-size: 1.4em;
}