<section class="section no-background">

    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Project Keys</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p class="subtitle is-5">
                    <strong>{{project ? project.keys.length : 0}}</strong> keys
                </p>
            </div>
            <div class="level-item">
                <div class="control has-addons has-addons-right">
                    <!-- TODO: cache keyValid, move create key into own component, add tooltip? -->
                    <input class="input" type="text" placeholder="Add a new key" [(ngModel)]="newKey" [class.is-disabled]="createKeyPending"
                        [class.is-danger]="!keyValid() && newKey?.length > 0">
                    <a class="button is-success" (click)="commitKey()" [class.is-disabled]="!keyValid()" [class.is-loading]="createKeyPending">Add</a>
                </div>
            </div>
        </div>
    </nav>

    <project-keys [project]="project" [loading]="loading" [onCommitKeys]="updateProjectKeys"></project-keys>
</section>