<div class="spinner centered" *ngIf="loading"></div>
<div *ngIf="!loading">

    <article class="media center-align" *ngFor="let user of users">
        <figure class="media-left">
            <span class="icon is-medium">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.name}}</strong> <em>{{user.email}}</em> <strong><span class="tag is-info is-small">{{user.role}}</span></strong>
                </p>
            </div>
        </div>
        <figure class="media-right">
            <edit-project-user [user]="user"></edit-project-user>
        </figure>
    </article>

</div>